ul {
    list-style-type:none;
    }
    
.biodetail {
      color:#060050;;
      font-family:'Oswald', sans-serif;
      padding-bottom:10px;
    }
    
.biohead {
      color:#979797;
      font-family:'Lato', sans-serif;
      border-radius:5px;
    }
    
.biolists {
      display:inline-block;
      vertical-align:top;
      width:33%;
      font-family:'Lato', sans-serif;
      font-size:12px;
    }

.biopanel {
    width:90%;
    margin:auto;
    margin-top:20px;
    margin-bottom:40px;
}